.page {
  /* text-transform: uppercase; */
}

.hero {
  display: flex;
  flex-direction: column;
  gap: mobile-vw(16px);
  text-align: center;

  @include-media ('desktop') {
    gap: desktop-vw(24px);
  }
}

.title {
  font-size: mobile-vw(48px);
  line-height: 1;
  margin: 0;
  font-family: var(--font-mono);
  text-transform: uppercase;

  @include-media ('desktop') {
    font-size: desktop-vw(96px);
  }
}

.subtitle {
  font-family: var(--font-mono);
  font-size: mobile-vw(16px);
  opacity: 0.8;
  margin: 0;

  @include-media ('desktop') {
    font-size: desktop-vw(24px);
  }
}

.whiteSection {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: relative;
}

.container {
  width: calc(100% - (2 * var(--layout-margin)));
  max-width: var(--layout-width);
  margin: 0 auto;
  height: 100%;

  @include-media ('desktop') {
    width: calc(100% - (2 * var(--desktop-margin)));
  }
}
